<div fxFlex fxFlexOffset="20px" class="form-size">
  <h3>Send us your Feedback</h3>

  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>

  <form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()" [hidden]="hideFeedbackForm" [@expand]>
    <p>
      <mat-form-field class="half-width">
        <input matInput formControlName="firstname" placeholder="First Name" type="text" required>
        <mat-error *ngIf="formErrors.firstname">{{formErrors.firstname}}</mat-error>
      </mat-form-field>
      <mat-form-field class="half-width">
        <input matInput formControlName="lastname" placeholder="Last Name" type="text" required>
        <mat-error *ngIf="formErrors.lastname">{{formErrors.lastname}}</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="half-width">
        <input matInput formControlName="telnum" placeholder="Tel. Number" type="tel" pattern="[0-9]*" required>
        <mat-error *ngIf="formErrors.telnum">{{formErrors.telnum}}</mat-error>
      </mat-form-field>
      <mat-form-field class="half-width">
        <input matInput formControlName="email" placeholder="Email" type="email" email required>
        <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
      </mat-form-field>
    </p>
    <table class="form-size">
      <td>
        <mat-slide-toggle formControlName="agree">May we contact you?</mat-slide-toggle>
      </td>
      <td>
        <mat-select placeholder="How?" formControlName="contacttype">
          <mat-option *ngFor="let ctype of contactType" [value]="ctype">
            {{ ctype }}
          </mat-option>
        </mat-select>
      </td>
      </table>
    <p>
      <mat-form-field class="full-width">
        <textarea matInput formControlName="message" placeholder="Your Feedback" rows=12></textarea>
      </mat-form-field>
    </p>
    <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="feedbackForm.invalid">Submit</button>
  </form>

  <div fxflex *ngIf="feedbackCopy" [hidden]="!hideFeedbackForm" [@expand]>
    <h3>Your Submission</h3>
    <p>First Name: {{feedbackCopy.firstname}}</p>
    <p>Last Name: {{feedbackCopy.lastname}}</p>
    <p>Tel. Number: {{feedbackCopy.telnum}}</p>
    <p>Email: {{feedbackCopy.email}}</p>
    <p>Contact You?: {{feedbackCopy.agree}}</p>
    <p>How?: {{feedbackCopy.contacttype}}</p>
    <p>Feedback: {{feedbackCopy.message}}</p>
  </div>

  <div [hidden]="!hideFeedbackForm || feedbackCopy || errMess" [@expand]>
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>

</div>